@use "sass:color";
@use "../settings/colors";
@use "../settings/sizing";

input {
  padding: 0 sizing.$size-16;
  border: none;
  background-color: colors.$input-background-color;
  color: colors.$text-color;
  min-height: sizing.$size-48;
  width: 100%;

  &:focus {
    background: color.scale(colors.$input-background-color, $lightness: -25%);
    outline: none;
    transition: all 0.5s ease;
  }

  &::placeholder {
    color: colors.$text-color-desactivated;
  }

  &[type="search"]::-webkit-search-cancel-button {
    appearance: none;

    width: 18px;
    height: 18px;
    background-image: url("../../../assets/icons/icon-clear.svg");
    transition: all 0.25s ease;
  }
}
