<main class="g-weather-info o-container">
  <!-- <div class="g-weather-info__info">
    <span class="g-weather-info__temperature">Hola</span>
    <div class="g-weather-info__data">
      Busque una ciudad para conocer su clima.
    </div>
  </div> -->

  <div #weather>
    <div class="g-weather-info__info">
      <span class="g-weather-info__temperature"
        >{{ (weather$ | async)!.temperature | number: "1.0-0" }} °C
      </span>
      <div class="g-weather-info__data">
        {{ (weather$ | async)?.city }}, {{ (weather$ | async)?.country }}
        <div class="a-separator a-separator--vertical"></div>
        {{ (weather$ | async)?.description | titlecase }}
      </div>
    </div>
  </div>

  <div class="g-weather-info__details">
    <app-search-or-input
      class="a-input"
      [component]="type"
    ></app-search-or-input>
    <button class="a-button" (click)="toggleComponent()">
      <img src="../../../assets/icons/icon-search.svg" alt="icon search" />
    </button>
  </div>
</main>
