<main class="g-weather-info o-container">
  <div class="g-weather-info__info" *ngIf="!(vm$ | async)?.id; else weather">
    <span class="g-weather-info__temperature">Hola</span>
  </div>

  <ng-template #weather>
    <div class="g-weather-info__info">
      <span class="g-weather-info__temperature"
        >{{ (vm$ | async)?.main?.temp | number: "1.0-0" }} °C</span
      >
      <div class="g-weather-info__data">
        {{ (vm$ | async)?.name }}, {{ (vm$ | async)?.sys?.country }}
        <div class="a-separator a-separator--vertical"></div>
        <!-- {{ (vm$ | async)!.weather[0].description | titlecase }} -->
      </div>
    </div>
  </ng-template>

  <div class="g-weather-info__details">
    <app-search-or-input
      class="a-input"
      [component]="type"
    ></app-search-or-input>
    <button class="a-button" (click)="toggleComponent()">
      <img src="../../../assets/icons/icon-search.svg" alt="icon search" />
    </button>
  </div>
</main>
